@import "src/library";
@import "src/theme";

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  flex-grow: 1;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $components-background-color-tetra !important;
  color: $components-foreground-color !important;
  border-radius: 10px !important;
}

::ng-deep .dialog, .dialog {
  display: flex !important;
  justify-content:flex-start !important;
  flex-direction: column !important;
}

.button-gen {
  width: 160px;
  height: 60px;
  //margin: auto;
  margin: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: $components-background-color-accent !important;
}

.flex {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.title {
  color: $components-background-color-accent !important;
  text-align: center;
}

.text {
  text-align: center;
}
