<footer class="body-container">
  <div class="block-flex mt-3">
    <p class="text-center">Jeu du Mastermind (amélioré) codé en TypeScript/Html/Scss avec Angular (en utilisant BootStrap et Material).</p>
    <p class="text-center">Réalisé en novembre 2022 • Contact : <a href="mailto:jac.granarolo.info@gmail.com" class="text-color-white text-link">jac.granarolo.info@gmail.com</a>
      • Lien github : <a href="https://github.com/jacquesgrana/mastermind-angular" class="text-color-white text-link">https://github.com/jacquesgrana/mastermind-angular</a></p>
  </div>
</footer>
