@import "src/library";
@import "src/theme";

.body-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
  color: $components-background-color-accent;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.block-container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: $components-background-color-bis;
  border: 6px solid black;
  border-radius: 25px;
}

.text-center-perso {
  text-align: center;
  justify-content: center;
}

.text-in-block {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 6px solid black;
  width: fit-content;
  margin: auto;
  border-radius: 12px;
  background-color: $components-background-color-accent;
}

.button-gen {
  width: 160px;
  height: 60px;
  margin: auto;
  margin-top: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: $components-background-color-accent !important;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 0.25rem;
}

.circle-little {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-radius: 30px;
  margin: 0.25rem;
}

.circle-very-little {
  display: inline;
  width: 30px;
  height: 30px;
  border: 6px solid black;
  border-radius: 15px;
  margin: 0.25rem;
}

.turn-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.6rem;
  color: $components-background-color-accent;
  background-color: black;
}

.block-turn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 560px;
  height: 110px;
  margin: auto;
  margin-top: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
  color: black !important;
}
