<mat-toolbar class="body-container">
  <mat-toolbar-row class="flex-start">
  <button mat-button [matMenuTriggerFor]="menu" color="accent">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
</mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="router.url == '/start'" (click)="openRules()">Règles</button>
    <button mat-menu-item [disabled]="router.url == '/game'" (click)="openGame()">Jouer</button>
    <button mat-menu-item [disabled]="gameService.isGameLaunched" (click)="openSettings()">Réglages</button>
  </mat-menu>

  <mat-toolbar-row class="flex-center div-title">
    <h1 class="">{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
