<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>mastermind-plus</span>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
-->
<mat-toolbar class="body-container">
  <mat-toolbar-row class="flex-start">
  <button mat-button [matMenuTriggerFor]="menu" color="accent">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
</mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'start'">Règles</button>
    <button mat-menu-item [routerLink]="'game'">Jouer</button>
  </mat-menu>

  <mat-toolbar-row class="flex-center div-title">
    <h1 class="">{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
