@import "src/library";
@import "src/theme";

.block-container {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.8rem;
}

.button-gen {
  width: 160px;
  height: 60px;
  //margin: auto;
  margin: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: $components-background-color-accent !important;
}

.flex {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  color: $components-background-color-accent !important;
}

.circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-radius: 30px;
  margin: 0.25rem;
}

.circle-little {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  border: 6px solid black;
  border-radius: 25px;
  margin: 0.25rem;
}

.circle-very-little {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 6px solid black;

  border-radius: 15px;
}

.block-matching-combis {
  margin: auto;
  margin-bottom: 0;
  max-height: 340px;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
}

#block-presence-proba {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  //max-width: 740px;
  //min-height: 110px;
  height: auto;
  width: 260px;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
}

.combi-list {
  list-style-type: none;
}

.text-color-accent {
  color: $components-background-color-accent;
}
