<h1 class="text-center title" mat-dialog-title>Statistiques</h1>
<div mat-dialog-content class="container block-container">

  <div class="row">
    <h3 class="text-center">Nombre de combinaisons possibles pour ce tour : {{statsService.matchingCombiNb}}</h3>
  </div>
  <div class="row">
    <h3 class="text-center">Nombre de combinaisons possibles cumulées : {{statsService.matchingCombiCumulNb}}</h3>
  </div>

  <div *ngIf="statsService.matchingCombiCumulNb <= limitMatchingCombis" class="row mt-2 block-matching-combis flex-center flex-wrap">
    <button mat-flat-button color="accent" class="button-gen" (click)="isMatchingCombiShow = !isMatchingCombiShow">
      <mat-icon>{{isMatchingCombiShow ? 'visibility_off' : 'visibility'}}</mat-icon> {{isMatchingCombiShow ? 'Masquer' : 'Montrer'}}
    </button>
    <div *ngIf="isMatchingCombiShow" class="mt-2">
      <h4 class="mb-2 text-center">Combinaison(s) possible(s) : </h4>
    </div>

    <ul *ngIf="isMatchingCombiShow" class="flex-space-between flex-wrap">
      <li *ngFor="let combi of statsService.matchingCombiCumulList" class="me-1 ms-1">
        <span *ngFor="let color of combi.colors" class="circle-very-little mat-elevation-z2 {{color.classColorBg}}"></span>
      </li>
    </ul>
  </div>
</div>
<div mat-dialog-actions class="flex-center row">
  <button mat-flat-button color="accent" class="mb-2 button-gen" (click)="onNoClick()">
    <mat-icon>close</mat-icon> Fermer
  </button>
</div>
