@import "src/library";
@import "src/theme";

.block-container {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

::ng-deep .dialog, .dialog {
  display: flex !important;
  justify-content:flex-start !important;
  flex-direction: column !important;
}

.button-gen {
  width: 160px;
  height: 60px;
  //margin: auto;
  margin: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: $components-background-color-accent !important;
}

.flex {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  color: $components-background-color-accent !important;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 0.25rem;
}

.circle-little {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-radius: 30px;
  margin: 0.25rem;
}

.circle-very-little {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 6px solid black;
  border-radius: 15px;
}

.block-matching-combis {
  margin: auto;
  max-height: 340px;
}
