@import "src/library";
@import "src/theme";

.body-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
  color: $components-background-color-accent;
}

.block-container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: $components-background-color-bis;
  border: 6px solid black;
  border-radius: 25px;

}

.text-center-perso {
  text-align: center;
  justify-content: center;
}

.button-gen {
  max-width: 150px;
  margin: auto;
  height: 60px;
  margin-top: 1rem;
  border: 6px solid black;
  border-radius: 12px;
}

#block-colors-to-show {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  //max-width: 740px;
  //min-height: 110px;
  height: auto;
  width: fit-content;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 0.25rem;
}

.circle-very-little {
  display: inline;
  width: 30px;
  height: 30px;
  border: 6px solid black;
  border-radius: 15px;
  margin: 0.25rem;
}

.block-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-text {
  border: 6px solid black;
  border-radius: 12px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $components-background-color-ter;
}
