<div class="body-container">
  <section class="block-container container">
    <h1 class="mt-2 row text-center-perso">Règles du Jeu :</h1>
    <h3 class="mt-2 row text-center-perso ps-4 pe-4 text-color-white">Vous devez trouver, dans le bon ordre, une
      combinaison de
      {{combiColorNumber}} couleurs distinctes parmi {{colorNumber}}<br> en {{maxTurnNumber}} tours au maximum :</h3>
    <div id="block-colors-to-show" class="flex-center mt-4 row">
      <span *ngFor="let item of gameService.colorList" class="circle mat-elevation-z2 {{item.classColorBg}}"></span>
    </div>

    <div class="block-text mt-4">
      <h2 class="mt-3 row text-center-perso ps-4 pe-4">A chaque tour, le résultat affiché sera :</h2>
      <div class="block-flex">
        <h3 class="text-center-perso pt-3 ps-2 text-color-white me-2">Un pion</h3>
        <span class="circle-very-little mat-elevation-z2 color-black"></span>

        <h3 class="text-center-perso pt-3 ps-2 text-color-white">pour chaque couleur présente et bien placée,</h3>
      </div>
      <div class="block-flex">
        <h3 class="text-center-perso pt-3 ps-2 text-color-white me-2">Un pion</h3>
        <span class="circle-very-little mat-elevation-z2 color-white"></span>

        <h3 class="text-center-perso pt-3 ps-2 text-color-white">pour chaque couleur présente mais mal placée.</h3>
      </div>
    </div>

    <div class="block-text mt-4">
      <h2 class="mt-3 row text-center-perso ps-4 pe-4">3 Difficultés :</h2>
      <h3 class="mt-2 text-center-perso ps-4 pe-4">Facile : <span class="text-color-white">Accès aux statistiques<span class="text-color-accent">*</span> de la
          partie, pas de limite de temps.</span>
        </h3>
      <h3 class="mt-2 text-center-perso ps-4 pe-4">Normal : <span class="text-color-white">Pas d'accès aux statistiques<span class="text-color-accent">*</span>
          de la partie, pas de limite de temps.</span>
        </h3>
      <h3 class="mt-2 text-center-perso ps-4 pe-4">Difficile : <span class="text-color-white">Pas d'accès aux
          statistiques<span class="text-color-accent">*</span>
          de la partie, limite de temps (réglable).</span>
        </h3>
    </div>

    <div class="mt-2 row">
      <button mat-raised-button type="button" [routerLink]="['/game']" class="button-gen" color="accent">
        <mat-icon>play_arrow</mat-icon> Jouer
      </button>
    </div>

    <p class="mt-4 text-color-white"><span class="text-color-accent">(*) :</span> Les statistiques sont déterminées par filtrages cumulatifs des combinaisons compatibles avec les résultats (nombre de
      couleurs bien placées et nombre de couleurs présentes mais mal placées), en partant, pour le premier tour, de la
      liste de toutes les combinaisons possibles.
      <br>La liste des combinaison retenues est compatible avec les résultats des tours précédents (pour le premier tour, la liste de toutes les combinaisons possibles est retenue).
      <br>A chaque tour, la liste des combinaison retenues est filtrée en tenant compte du résultat du nouveau tour.
      <br>La liste des combinaisons retenues sera affichée (s'il y en a moins de {{limitMatchingCombis + 1}}), ainsi que les probabilités de présence et la combinaison prévue.
      <br>La combinaison prévue sera construite, tour après tour, à partir de la liste des combinaisons retenues.
    </p>
  </section>
</div>
