<div class="body-container">
  <section class="block-container container">
    <h2 class="mt-2 row text-center-perso">Règles du Jeu</h2>
    <p class="mt-2 row text-center-perso">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum itaque ullam odit veritatis autem voluptates hic debitis quos quasi, libero aliquam architecto molestias sunt deleniti repudiandae dolore temporibus eligendi nobis.
    </p>
    <div class="mt-2 row">
      <button mat-raised-button type="button" [routerLink]="['/game']" class="button-gen" color="accent"><mat-icon>play_arrow</mat-icon> Jouer</button>
    </div>
  </section>
</div>
