@import "src/library";
@import "src/theme";

.body-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-grow: 1;
  color: $components-background-color-accent;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}



.block-container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: $components-background-color-bis;
  border: 6px solid black;
  border-radius: 25px;
}

.text-center-perso {
  text-align: center;
  justify-content: center;
}

.button-gen {
  width: 160px;
  height: 60px;
  //margin: auto;
  margin: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: $components-background-color-accent !important;
}

.button-play {
  width: 550px;
  height: 60px;
  margin: auto;
  margin-top: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: black !important;
}

.button-choice {
  width: 160px;
  height: 60px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  color: $components-background-color-accent !important;
}

.button-selected {
  background-color: $components-foreground-color-accent !important;
  color: whitesmoke !important;
  border: 6px solid whitesmoke;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 0.25rem;
}

.circle-little {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-radius: 30px;
  margin: 0.25rem;
}

.circle-very-little {
  display: inline;
  width: 30px;
  height: 30px;
  border: 6px solid black;
  border-radius: 15px;
  margin: 0.25rem;
}

.cdk-drop-list-dragging {
  border: 6px solid whitesmoke !important;
}

.cdk-drop-list-receiving {
  border: 6px solid $components-background-color-accent !important;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.turn-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.2rem;
  color: $components-background-color-accent;
  background-color: black;
}

.block-turn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: 110px;
  margin: auto;
  margin-top: 1rem;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
  color: black !important;
}

#block-combi-to-play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 5rem;
  width: 370px;
  height: 110px;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
}

#block-colors-to-pick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  //max-width: 740px;
  min-height: 110px;
  height: auto;
  width: fit-content;
  border: 6px solid black;
  border-radius: 12px;
  background-color: $components-background-color;
}

