.spacer {
  flex: 1 1 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content:flex-start;
}

.flex-end {
  display: flex;
  justify-content:flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.inline {
  display: inline-block;
}

.color-red {
  background-color: crimson;
}

.color-yellow {
  background-color: gold;
}

.color-green {
  background-color: green;
}

.color-blue {
  background-color: royalblue;
}

.color-white {
  background-color: whitesmoke;
}

.color-orange {
  background-color: darkorange;
}

.color-violet {
  background-color: darkorchid;
}

.color-fuchsia {
  background-color: fuchsia;
}

.color-black {
  background-color: black;
}

.color-gray {
  background-color: gray;
}

.text-color-red {
  color: crimson;
}

.text-color-yellow {
  color: gold;
}

.text-color-green {
  color: green;
}

.text-color-blue {
  color: royalblue;
}

.text-color-white {
  color: whitesmoke;
}

.text-color-orange {
  color: darkorange;
}

.text-color-violet {
  color: darkorchid;
}

.text-color-fuchsia {
  color: fuchsia;
}

.text-color-black {
  color: black;
}

.text-color-gray {
  color: gray;
}
