.spacer {
  flex: 1 1 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content:flex-start;
}

.flex-end {
  display: flex;
  justify-content:flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}
