<div id="block-container flex-center flex-wrap">
  <h2 class="text-center title mt-4">Jeu en pause</h2>
  <div mat-dialog-content class="container block-container mb-0">
    <h3 class="text mt-4 text-color-white">Le jeu est en pause, cliquez sur le bouton pour reprendre la partie.</h3>
  </div>
  <div mat-dialog-actions class="flex-center flex-column row bottom">
    <button mat-flat-button color="accent" class="mt-4 mb-2 button-gen" (click)="onClose()">
      <mat-icon>close</mat-icon> Jouer
    </button>
  </div>
</div>
